<!DOCTYPE html>
<html>
  <head>
    <title>StripeCheckout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


    <%# <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" /> %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
